aiogram==3.11.0
langchain
langchain-community
langchain-pinecone
pinecone-client
dashscope                   # Официальная библиотека для Qwen
unstructured[local-inference]
PyPDF2
python-dotenv
langchain-huggingface
sentence-transformers
